# Build artifacts

*.o
*.out
*.exe

# Local executables

c/linked_lists/singly/linked_list
c/linked_lists/doubly/doubly_linked_list
c/linked_lists/singly_circular/singly_circular_linked_list
c/linked_lists/doubly_circular/doubly_circular_linked_list

# IDE/editor files

.vscode/